body{
    background-color: #D0D8DC;
    font-family: sans-serif;
    text-align: justify;
    font-size: 17px;
}

h1{
    color: #333333;
    text-align: center;
    font-size: 45px;
}
h2{
    background-color: #7B929D;
    font-size: 33px;
    text-decoration: underline;
    color: #333333;
}

strong {
    color: #006699;
}
em {
    color:#0088CC;
    font-weight: bold;
}

p{
    background-color: hsl(200, 15%, 75%);
}

address{
    background-color: whitesmoke;
}